body{
    background-image: url('../images/background_image4.png');
}

/*SIDEBAR*/
/* #sidebar-container{
    height:400px;
   
} */
/*NAVIGATION*/
#navigation{
    position:fixed;
    /*background:#2C286C ;*/
    background:#210c02; 
    opacity:0.5;
    width:180px;
    height:500px;
    border-radius:5px;
    transition:0.5s;
    overflow:hidden;
}

#navigation ul{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color:bisque;
}
#navigation ul li{
    position:relative;
    list-style:none;
    width:100%;
}
#navigation ul li a{
    position:relative;
    display:block;
    width:100%;
    display:flex;
    text-decoration: none;
    color:bisque;
}
#navigation ul li a .icon{
    position:relative;
    display:block;
    min-width:35px;
    height:60px;
    line-height:60px;
    text-align:left;
}
#navigation ul li a .icon fa{
    font-size:24px;
}
#navigation ul li a .title{
    position:relative;
    display:block;
    height:60px;
    line-height:60px;
    text-align:left; 
    white-space: nowrap;
}
#navigation ul li a .title:hover{
    text-decoration-line: underline;
}

#navigation ul li a .close-icon{
    display:block;
    min-width:35px;
    height:60px;
    line-height:60px;
    text-align:left;
}

.logo{
    margin-top:95%;
}
#image-logo{
    align-self: center;
    height:40px;
    width:120px;

}







/*RUBIKS CUBE CONTAINER*/
#rubiks-cube-container{
    height:600px;
}
#color-picker{
    height:600px;
}



/*COLOR BUTTONS*/
.color-buttons{
    padding:12px;  
    width:50px;
    height:50px;
    border-radius:5px;
}


#button-red{
    background-color:red;
    opacity:0.5;
}
#button-red:hover{
    opacity:1;
    border: black solid 2px;
}


#button-blue{
    background-color:blue;
    opacity:0.5;
}
#button-blue:hover{
    opacity:1;
    border: black solid 2px;
}

#button-green{
    background-color:rgb(4, 253, 4);
    opacity:0.5;
}
#button-green:hover{
    opacity:1;
    border: black solid 2px;
}

#button-yellow{
    background-color:rgb(255, 255, 0);
    opacity:0.5;
}
#button-yellow:hover{
    opacity:1;
    border: black solid 2px;
}

#button-orange{
    background-color:orange;
    opacity:0.5;
}
#button-orange:hover{
    opacity:1;
    border: black solid 2px;
}

#button-white{
    background-color:light;
    opacity:0.5;
}
#button-white:hover{
    opacity:1;
    border: black solid 2px;
}
#paragraph-buttons{
  margin-left:5%;
  padding:12px;
  display:inline-block;
}
#btns{
  list-style:none;  
}







/*RESET BUTTON*/
#reset-button-container{
    margin-top:20%;
    padding:20%;
}
#reset-button{
    width:95px;
    height:50px;
    border-radius:50px;
    background-color:bisque;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






/*ADDITIONAL CLASSES*/

.button-clicked{
    opacity: 1;
    border:solid black 2px;
}
