.cube-buttons{
    opacity:0.5;
    width:50px;
    height:50px;
    border:solid 1px black;
    border-radius: 5px;
}
.cube-buttons:hover{
    opacity:1;
}
.center-up,
.center-back,
.center-forward,
.center-left,
.center-right,
.center-down{
    opacity:0.5;
    width:50px;
    height:50px;
    border:solid 1px black;
    border-radius: 5px;

}
.dummy-buttons{
    pointer-events:none;
    width:50px;
    height:50px;
    border:none;
    opacity: 0;
}
#center-forward{
    border:2px solid black;
    background-color:blue;
    opacity:1;
}
#center-left{
    border:2px solid black;
    background-color:orange;
    opacity:1;
}
#center-up{
    border:2px solid black;
    background-color:rgb(255, 255, 0);
    opacity:1;
}
#center-down{
    border:2px solid black;
    background-color:white;
    opacity:1;
}
#center-right{
    border:2px solid black;
    background-color:red;
    opacity:1;
}
#center-back{
    border:2px solid black;
    background-color:rgb(4, 253, 4);
    opacity:1;
}