<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <!--Bootstrap plugin-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <script src="https://kit.fontawesome.com/1b235fbc4a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cube.css') }}">
        <title>Rubik's cube</title>
    </head>

    <body>
        <div class="container p-5">
            
             <script src="{{ url_for('static', filename='jquery/dist/jquery.js') }}"></script>


            <script type=text/javascript>
                    $(function() {
                    $('a#test').on('click', function(e) {
                        e.preventDefault()
                        $.getJSON('/background_process_test',
                            function(data) {
                        //do nothing
                        });
                        return false;
                    });
                    });
            </script>

            <script type=text/javascript>
                $(function() {
                $('a#kill_p').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/kill_cubenew',
                        function(data) {
                    //do nothing
                    });
                    return false;
                });
                });
            </script>
            
                    <form>
                        <a href=# id=test><button class='btn btn-default'>Camera Input</button></a>
                    </form>

                    <form>
                        <a href=# id=kill_p><button class='btn btn-default'>Exit</button></a>
                    </form>

            
    
            
            
            <div class="row">
                <!--SIDEBAR-->
                <div class="col-md-2" id="sidebar-container">
                    <div class="p-1" id="navigation">
                        
                        
                        <ul>
                            <li>
                                <a href="#">   
                                    <span class="close-icon">
                                        <i class="fas fa-chevron-up" id="close-icon"></i>
                                    </span>
                                
                                </a>
                                
                            </li>
                            <li>
                                <a href="#" id="save-icon">
                                    <span class="icon">
                                        <i class="fas fa-save"></i>
                                    </span>
                                    <span class="title">Save</span>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a href="#" id="upload-icon">
                                    <span class="icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="title">Upload</span>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a href="https://pypi.org/project/kociemba/" target="_blank">
                                    <span class="icon">
                                        <i class="fab fa-sourcetree"></i>
                                    </span>
                                    <span class="title">Source</span>
                                </a>
                            </li>
                            <li>
                                <div class="logo">
                                <a href="https://atos.net/hr/hrvatska" target="_blank">
                                <img src="static/images/atos_logo.png" id="image-logo">
                                </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--CUBE CONTAINER-->             
                <div class="col-md-8 p-2 border bg-white" id="rubiks-cube-container">
                    <div class="container p-4" id="rubiks-cube">
                        
                        <!--UP-->
                        
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                                                        
                            
                            

                        </div>
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="center-up" id="center-up"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            
                            

                        </div>
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            
                            

                        </div>





                        <!--MIDDLE-->

                        <div class="col p-1 offset-1">
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                                                        
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                        </div>
                        <div class="col p-1 offset-1">
                            <button class="cube-buttons"></button>
                            <button class="center-left" id="center-left"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="center-forward" id="center-forward"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="center-right" id="center-right"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="center-back" id="center-back"></button>
                            <button class="cube-buttons"></button>
                        </div>
                        <div class="col p-1 offset-1">
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                        </div>




                        <!--UP-->
                        
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                                                        
                            
                            

                        </div>
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="center-down" id="center-down"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            
                            

                        </div>
                        <div class="col p-1 offset-1">
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>

                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>
                            <button class="cube-buttons"></button>

                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            <button class="dummy-buttons"></button>
                            
                            

                        </div>

                    
                        



                                



                    </div>
                </div>
                
                
                
                
                <!--COLOR PICKER-->
                <div class="col-md-2 p-4 border bg-light" id="color-picker">
                    <li id="btns"><button class="color-buttons" id="button-red"></button><p id="paragraph-buttons"> Red</p></li>
                    <li id="btns"><button class="color-buttons" id="button-blue"></button><p id="paragraph-buttons"> Blue</p></li>
                    <li id="btns"><button class="color-buttons" id="button-green"></button><p id="paragraph-buttons"> Green</p></li>
                    <li id="btns"><button class="color-buttons" id="button-yellow"></button><p id="paragraph-buttons"> Yellow</p></li>
                    <li id="btns"><button class="color-buttons" id="button-orange"></button><p id="paragraph-buttons"> Orange</p></li>
                    <li id="btns"><button class="color-buttons" id="button-white"></button><p id="paragraph-buttons"> White</p></li>
                    
                    
                    <div class="col" id="reset-button-container">
                        <button id="reset-button">RESET</button>
                    </div>
                </div>
                
           
           
           
            </div> 

        </div>
        







        
        
        
        
        

       
        <!--Bootstrap plugin-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous"></script>
        <script src="js/script.js" charset="utf-8"></script>
        
    </body>
</html>




                <!--       
                <div class="col-md-2">
                    <div class="p-2 border" id="sidebar">Sidebar</div>
                </div>
                -->



                <!--
                <div class="col-md-8">
                    <div class="p-2 bg-light border" id="rubiks-cube">Rubiks cube</div>
                    
                </div>
                


                <div class="col-md-2 p-2 border bg-light" id="color-picker">Color picker</div>
                -->
                <!--
                <div class="col-md-2">
                    <div class="p-2 bg-light border" id="color-picker">Color-picker</div>
                </div>
                -->